# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib66/
lib32/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.dvc/
.vscode/
.idea/
*.ipynb_checkpoints
.mypy_cache/
.dmypy.json
dmypy.json
celerybeat-schedule
.spyproject/
.ruff_cache

# Specific to this project
.env                 # Ignore the file for environment variables (a good practice)
logged_papers.csv    # Ignore the old local CSV log file
papers.db            # Ignore the new SQLite database file